*{
    margin:0;
    padding:0;
    box-sizing: border-box ;

}
html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    background-color: rgb(243, 17, 17);
    display:flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: center;
}

.nav{
    width: 900px;
    height: 170px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    list-style: none;
}
li:hover{
    height: 51px;
    
}
.nav a{
    text-decoration: none;
    color: black;
}

.contenedor{
    width: 90%;
    height: 90%;
    margin: auto;
    display: grid
    
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    grid-template-areas: 2px;
    grid-template-areas: 
    "titulo imagen"
    "texto imagen";
}


.contenedor .titulo,
.contenedor .imagen,
.contenedor .texto{
    
    padding: 20px;
}
.contenedor .titulo{
    font-size: 50px;
    grid-area: titulo;

}
.contenedor .texto {
    font-size: 30px;
    grid-area: texto;
    font-weight: lighter;
}
.contenedor .imagen{
    grid-area: imagen;
    align-self: center;
}

 .fondoDeHamburguesa{
    width: 100%;
    height: 700px ;
}
.contenedor2{
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    width: 100%;
    grid-template-areas: "logo textofinal";
}
.contenedor2 .logoFinal{
    grid-area: logo ;
    justify-self: center;
    align-self: center;
    margin: 15px;
}
.contenedor2 .textofinal{
    grid-area: textofinal;
    font-size: 25px;
    align-self: auto;
    
}
@media screen and (max-width:500px){
    header{
        background-color: rgb(243, 17, 17);
        display:flex;
        flex-direction: column;
        justify-content: space-around ;
        align-items: center;
    }
     .nav ul{
        display: flex;
        flex-direction: column;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 50px 50px 50px 50px 50px;
        grid-template-areas: 
        "li1"
        "li2"
        "li3"
        "li4"
        "li5"
        "li6";
    }
    
    .contenedor{
    grid-template-columns: 1fr;
    grid-template-rows: 400px 600px 300px;
    grid-template-areas: 
    "titulo"
    "texto"
    "imagen";
    }
    .contenedor2{
        grid-template-columns: 1fr;
        grid-template-rows: 250px 250fr ;
        grid-template-areas: 
        "logo"
        "textofinal";
    }
    
}








.contenedormenu{
    width: 90%;
    height: 90%;
    margin: 40px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto;
    gap: 25px;
    justify-items: center;   
}
.contenedormenu h2{
    font-size: 30px;
    text-decoration: underline;
}
.contenedormenu h3{
    font-size: 25px;
}

@media screen and (max-width:500px){
    
    .contenedormenu{
     grid-template-columns: 450px;
     grid-template-rows: 50px auto;
     
    }
    .contenedormenu .imagenmenu{
        width: 300px;
    }
    
     .contenedor2{
         grid-template-columns: 1fr;
         grid-template-rows: 250px 250fr ;
         grid-template-areas: 
         "logo"
         "textofinal";
     }
     
 }








 .contenedorlocal{
    width: 90%;
    height: 800px;
    margin: auto;
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 50px 100px 300px;
    grid-template-areas: 
    "titulo titulo"
    "barrio1 barrio2"
    "texto1 texto2"
    "mapa1 mapa2";
}
.titulolocal{
    grid-area: titulo;
    justify-self: center;
    margin: 20px;
    text-decoration: underline;
}
.barrio1local{
    grid-area: barrio1;
}
.texto1local{
    grid-area: texto1;
    font-weight: lighter;
}
.mapa1local{
    grid-area: mapa1;
}

.barrio2local{
    grid-area: barrio2;
}
.texto2local{
    grid-area: texto2;
    font-weight: lighter;
}
.mapa2local{
    grid-area: mapa2;
}
@media screen and (max-width:500px){
    
    .contenedorlocal{
        justify-items: center;
        height: auto;
        width: auto;
        grid-template-columns: 450px;
        grid-template-rows: 100px 50px 100px 500px
        50px 100px 500px;
        grid-template-areas: 
        "titulo"
        "barrio1"
        "texto1"
        "mapa1"
        "barrio2"
        "texto2"
        "mapa2";
    }
    .contenedorlocal .mapa1local{
        width: 400px;
    }
    .contenedorlocal .mapa2local{
        width: 400px;

    }
    
     .contenedor2{
         grid-template-columns: 1fr;
         grid-template-rows: 250px 250px;
         grid-template-areas: 
         "logo"
         "textofinal";
     }
     
 }







.contenedorsn{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-rows: 50px 300px auto;
    justify-items: center;

}
.contenedorsn .textosn{
    font-weight:normal;
}
@media screen and (max-width:500px){
    
    .contenedorsn{
        height: auto;
        width: auto;
        margin: 30px;
        grid-template-columns: 450px;
        grid-template-rows: 70px 700px 300px;
     
    }
    .contenedorsn .localsn{
        width: 400px;
    }
    
     .contenedor2{
         grid-template-columns: 1fr;
         grid-template-rows: 250px 250px;
         grid-template-areas: 
         "logo"
         "textofinal";
     }
     
 }








.contenedorcontacto{
    width: 90%;
    margin: auto;
    display: grid;
    justify-items: center;
}
.contenedorcontacto h1{
    font-size: 30px;
    margin: 10px;
    text-decoration: underline;
}
.contenedorcontacto h3{
    font-size: 20px;

} 
@media screen and (max-width:500px){
    
    .contenedorcontacto{
    
        grid-template-columns: 450px;
        grid-template-rows: 50px 50px 100px ;
    }
    .contenedorcontacto img{
        width: 400px;
    }
    
     .contenedor2{
         grid-template-columns: 450px;
         grid-template-rows: 250px 100px;
         justify-items: center;
         grid-template-areas: 
         "logo"
         "textofinal";
     }
     
 }






